# Xcode
DerivedData/
build/
*.xcuserstate
*.xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store

# SwiftPM
.build/
Packages/
Package.resolved
*.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/

# Secrets / local
*.mobileprovision
